@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000000;
  --text: #ffffff;
  --muted: #666666;
  --border: #222222;
}

body {
  @apply bg-black text-white antialiased;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
